# Ignorar videos y archivos grandes
*.mp4
*.zip

# Ignorar entornos virtuales de Python
.venv/
__pycache__/
*.pyc

# Ignorar configuraciones de VSCode
.vscode/

# Ignorar archivos de desarollo local
flake.*
.envrc
.direnv

# Ignorar logs
*.log
